USE [master]
GO
/****** Object:  Database [SnakeLadder]    Script Date: 1/3/2025 11:05:59 AM ******/
CREATE DATABASE [SnakeLadder]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SnakeLadder', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SnakeLadder.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SnakeLadder_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SnakeLadder_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SnakeLadder].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SnakeLadder]
GO
/****** Object:  Table [dbo].[GamePlayRecord]    Script Date: 1/3/2025 11:05:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GamePlayRecord](
	[MoveId] [int] IDENTITY(1,1) NOT NULL,
	[PlayerId] [varchar](8) NULL,
	[RolledDice] [int] NULL,
	[OldPosition] [int] NULL,
	[NewPosition] [int] NULL,
	[MoveType] [varchar](15) NULL,
	[GameCode] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MoveId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameRecord]    Script Date: 1/3/2025 11:05:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameRecord](
	[GameId] [int] IDENTITY(1,1) NOT NULL,
	[Gamecode] [varchar](8) NULL,
	[FirstWinnerPlayerUID] [varchar](8) NULL,
	[IsGameEnd] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Gamecode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerCharacter]    Script Date: 1/3/2025 11:05:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerCharacter](
	[PlayerUID] [varchar](8) NOT NULL,
	[CharacterName] [varchar](10) NULL,
	[CharacterColor] [varchar](10) NULL,
	[PlayerCurrentPosition] [int] NULL,
	[IsPlayerWin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CharacterColor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SnakeBoard]    Script Date: 1/3/2025 11:05:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnakeBoard](
	[CellNum] [int] NOT NULL,
	[CellType] [nvarchar](10) NULL,
	[Destination] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CellNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GamePlayRecord]  WITH CHECK ADD FOREIGN KEY([GameCode])
REFERENCES [dbo].[GameRecord] ([Gamecode])
GO
ALTER TABLE [dbo].[GamePlayRecord]  WITH CHECK ADD FOREIGN KEY([NewPosition])
REFERENCES [dbo].[SnakeBoard] ([CellNum])
GO
ALTER TABLE [dbo].[GamePlayRecord]  WITH CHECK ADD FOREIGN KEY([OldPosition])
REFERENCES [dbo].[SnakeBoard] ([CellNum])
GO
ALTER TABLE [dbo].[GamePlayRecord]  WITH CHECK ADD FOREIGN KEY([PlayerId])
REFERENCES [dbo].[PlayerCharacter] ([PlayerUID])
GO
ALTER TABLE [dbo].[GameRecord]  WITH CHECK ADD FOREIGN KEY([FirstWinnerPlayerUID])
REFERENCES [dbo].[PlayerCharacter] ([PlayerUID])
GO
ALTER TABLE [dbo].[PlayerCharacter]  WITH CHECK ADD FOREIGN KEY([PlayerCurrentPosition])
REFERENCES [dbo].[SnakeBoard] ([CellNum])
GO
ALTER TABLE [dbo].[GamePlayRecord]  WITH CHECK ADD  CONSTRAINT [CK__GamePlayR__MoveT__628FA481] CHECK  (([MoveType]='forward' OR [MoveType]='ladder' OR [MoveType]='snake'))
GO
ALTER TABLE [dbo].[GamePlayRecord] CHECK CONSTRAINT [CK__GamePlayR__MoveT__628FA481]
GO
ALTER TABLE [dbo].[PlayerCharacter]  WITH CHECK ADD CHECK  (([CharacterColor]='blue' OR [CharacterColor]='orange' OR [CharacterColor]='green' OR [CharacterColor]='red'))
GO
ALTER TABLE [dbo].[SnakeBoard]  WITH CHECK ADD CHECK  (([Destination]>=(1) AND [Destination]<=(100) OR [Destination] IS NULL))
GO
USE [master]
GO
